.container{
    background-color: silver;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 20px;
    width: 950px;
}

.main {
    align-items: center;
    background-color: red;
    flex-direction: column;
    height: 400px;
    margin-left: 10px;
    width: 700px;
}

.side-nav {
    background-color: blue;
    height: 300px;
    margin-right: 10px;
    width: 200px;
}

.sub-content {
    background-color: yellow;
    height: 200px;
    margin: 0px 7px;
    width: 210px;
}

.top-nav {
    background-color: green;
    height: 150px;
}

.container .row {
    margin-top: 20px;
}

.container .row, .main {
    display: flex;
}

#advertisement {
    background-color: purple;
    height: 120px;
    margin-top: 40px;
    width: 660px;
}






